params{

    // Configuration parameters for the Sailor Nextflow pipeline


    // Indicates if the library is reverse stranded
    //# if this is a TruSeq reverse stranded library, set to true
    reverse_stranded_library = true

    //determines whether or not this is a single or paired-end library
    single_end = true

    // The number of bases to consider as overhangs at junctions
    junction_overhang = 10

    // The number of bases to consider as edge mutations
    edge_mutation = 5

    // The number of non-AG mutations allowed
    non_ag = 1

    // Minimum coverage required for a variant to be considered
    min_variant_coverage = 5

    // Indicates if cytosine to thymine (C>T) mutations should be considered
    ct = true

    // Indicates if guanine to thymine (G>T) mutations should be considered
    gt = false

    
    // The depth parameter used for variant calling
    dp = "DP4"

    // Alpha parameter for statistical calculations (default is 0)
    alpha = 0

    // Beta parameter for statistical calculations (default is 0)
    beta = 0

    // Minimum fraction of edited reads required to call an edit
    edit_fraction = 0.01

    // Flag to keep all edited reads, even if they do not meet other criteria
    keep_all_edited = false

    // Flag to skip the removal of duplicate reads
    skip_duplicate_removal = false
    
}